server:
  port: 9090

spring:
  cloud:
    gateway:
      routes:
        - id: usuario_service
          uri: http://localhost:9091/
          predicates:
            - Path=/usuario/**
        - id: evento_service
          uri: http://localhost:9092/
          predicates:
            - Path=/evento/**
  jpa:
    database: postgresql
    show-sql: true
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/taskfinal_v2
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWD:baal}

#              #database config
#              spring.jpa.database=${DATABASE_DB:POSTGRESQL}
#              spring.datasource.url=jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:5432}/taskfinal_v2
#              spring.datasource.username=${DATABASE_USER:postgres}
#              spring.datasource.password=${DATABASE_PASSWD:baal}
