<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Area de Testes</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

            <button type="button" class="btn btn-success">
                TEste1
            </button>
        </div>
        <div class="col-md-4">

            <button type="button" class="btn btn-success">
                <span>TEste2</span>
            </button>
        </div>
        <div class="col-md-4">

            <button type="button" class="btn btn-success">
                <span>TEste3</span>
            </button>
        </div>
    </div>
</div>
</body>
</html>